body{
    background-image: url(https://lh3.googleusercontent.com/N0T5lJVl2P0A5yF2NfSPcrEPDV4EJ77GDIKR61J5AR6ZoTBqI6Cn4_kAcER3kEsW1MHMDkImBWa0a8P4n_915t8tgg=w640-h400-e365-rj-sc0x00ffffff);
    background-size: auto;
}

#firstdiv{
    position: relative;
    color: #DED0B6;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 8px 12px;
    margin-top: 5%; 
    margin-left: 15%;
    border-style: double;
    border-color:black;
    align-self: center;
    background-image: url(https://e0.pxfuel.com/wallpapers/81/20/desktop-wallpaper-cool-coding-lines-of-code.jpg);  
}

#heyy{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#seconddiv{
    position: relative;
    width: 70%;
    line-height: 30px;
    padding: 20px 20px;
    font-size:20px;
    margin-top: 0%;
    margin-left: 15%;
    background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-technology-cool-background-code-picture-image_929799.jpg);
}

#aboutme, #education, #positions, #projects, #contactme{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}


#Aboutdiv{
    position: relative;
    margin-left: 15%;
    width:70%;
    background-color: #AFC8AD;
    padding: 20px 20px;
    border-style: double;
    border-color:black;
}

#Education{
    position: relative;
    margin-left: 15%;
    width:70%;
    background-color: #B2A59B;
    padding: 20px 20px;
    border-style: double;
    border-color:black;
}

#Position{
    position: relative;
    margin-left: 15%;
    width:70%;
    background-color: #DFCCFB;
    padding: 20px 20px;
    border-style: double;
    border-color:black;
}

#Project{
    position: relative;
    margin-left: 15%;
    width:70%;
    background-color: #C3E2C2;
    padding: 20px 20px;
    border-style: double;
    border-color:black;
}
#Contactme{
    position: relative;
    margin-left: 15%;
    width:70%;
    background-color: #607274;
    padding: 20px 20px;
    border-style: double;
    border-color:black;
}