body{
    background-image: url(https://lh3.googleusercontent.com/N0T5lJVl2P0A5yF2NfSPcrEPDV4EJ77GDIKR61J5AR6ZoTBqI6Cn4_kAcER3kEsW1MHMDkImBWa0a8P4n_915t8tgg=w640-h400-e365-rj-sc0x00ffffff);
    background-size: auto;
}

#firstdiv{
    position: relative;
    color: #DED0B6;
    width: 89%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 8px 12px;
    margin-top: 5%; 
    margin-left: 5%;
    border-style: double;
    border-color:black;
    align-self: center;
    background-image: url(https://e0.pxfuel.com/wallpapers/81/20/desktop-wallpaper-cool-coding-lines-of-code.jpg);
    display:flex;
    flex:wrap;
    justify-content:center;
    border-radius:40px;
}

#name{
    font-size:2rem;
}

.firstone{
    font-family:'Courier New', Courier, monospace;
    background-color:transparent;
    font-size:2.5rem;
}

.secondone{
    background-color:transparent;
    margin-top:12rem;
    margin-right:2rem;
    margin-left:40rem;
    padding-right:2rem;
    font-family:'Courier New', Courier, monospace;

}

#heyy{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
}
#seconddiv{
    position: relative;
    width: 89%;
    line-height: 30px;
    padding: 20px 20px;
    font-size:40px;
    margin-top: 0%;
    margin-left: 5%;
    background-color:transparent;
}

.link{
    color:white;
}

.nav{
    color:white;
    font-family:'Times New Roman', Times, serif;
    line-height:2rem;
    font-size:1.5rem;
    display:flex;
    flex-wrap:wrap;
    align-content:flex-end;
}

.contact{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:light;
    font-size:1rem;
}

#abc{
    margin-left:160px;
}

#Aboutdiv{
    position: relative;
    margin-left: 5%;
    opacity:0.9;
    width:88.5%;
    background-color: #05445E;
    padding: 20px 20px;
    padding-left:30px;
    border-style: double;
    border-color:black;
    color:white;
}

#Education{
    position: relative;
    margin-left: 5%;
    width:89%;
    background-color: #05445E;
    opacity:0.9;
    padding: 20px 20px;
    border-style: double;
    border-color:black;
    color:white;
    display:flex;
    align-content:flex-end;
}

#Position{
    position: relative;
    margin-left: 5%;
    width:89%;
    background-color: #05445E;
    color:white;
    padding: 20px 20px;
    opacity:0.9;
    border-style: double;
    border-color:black;
    display:flex;
    align-content:flex-end;
}

#Projects{
    position: relative;
    margin-left: 5%;
    width:89%;
    background-color: #05445E;
    color:white;
    opacity:0.9;
    padding: 20px 20px;
    border-style: double;
    border-color:black;
    display:flex;
    align-content:flex-end;
}
#secondc{
    padding-left: 2rem;
    padding-top:1.5rem;
}
#Contactme{
    position: relative;
    color:white;
    margin-left: 5%;
    width:89%;
    background-color: #05445E;
    opacity:0.9;
    padding: 18px 20px;
    border-style: double;
    border-color:black;
    display:flex;
    align-content:flex-end;
}

@media all and (max-width:1300px){
    
    .firstdiv{
        width:100%;
    }

    .secondone{
        margin-left:30px;
    }
}
